server:
  port: 9005

spring:
  application:
    name: notification-service

  datasource:
    url: jdbc:postgresql://postgres:5432/oerms_notification
    username: postgres
    password: postgres

  data:
    redis:
      host: redis
      port: 6379

  kafka:
    bootstrap-servers: kafka:9092

  mail:
    host: mailhog
    port: 1025
    username: 
    password: 

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://auth-server:9000

eureka:
  client:
    service-url:
      defaultZone: http://system-registry:8761/eureka/
